<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<!-- Integration -->
		<property name="hibernate.archive.autodetection">class</property>
		<property name="hibernate.cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.current_session_context_class">org.hibernate.context.internal.ThreadLocalSessionContext</property>    
            
        <!-- Database Connection Settings -->    
        
        <property name="hibernate.connection.autocommit">false</property>
        <property name="hibernate.cache.use_second_level_cache">false</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.flushMode">ALWAYS</property>
        
        <mapping class="org.mcservice.geldbericht.data.Account" />
        <mapping class="org.mcservice.geldbericht.data.Company" />
        <mapping class="org.mcservice.geldbericht.data.MonthAccountTurnover" />
        <mapping class="org.mcservice.geldbericht.data.Transaction" />
        <mapping class="org.mcservice.geldbericht.data.VatType" />
	</session-factory>
</hibernate-configuration>